<div>
  <h1>{{ emerald.title }}</h1>
  <p>{{ emerald.quote }} - {{ emerald.author }}</p>
  <span>Goal to collecting emerald: </span>
  <span>{{ emerald.goal }}</span>
  <img *ngIf="hasEmerald; else noEmerald" class="img-goal-size" [src]="emerald.emeraldImageUrl" />
  <ng-template #noEmerald>
    <img class="img-goal-size" src="assets/blank-emerald.png" alt="blank emerald" />
  </ng-template>
  <form>
    <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="showArchived">
      <label class="form-check-label" for="showArchived">Show Archived</label>
    </div>
  </form>
  <ng-content></ng-content>
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Helpful resources</h5>
      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let resource of emerald.resources">{{ resource.name }}</li>
      </ul>
    </div>
  </div>
  <br />
  <div class="card" *ngIf="emerald.notes">
    <div class="card-header text-muted">
      Notes for {{ emerald.title }}
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-light" *ngFor="let note of emerald.notes">{{ note }}</li>
      </ul>
    </div>
  </div>
</div>
