<emerald-component [emerald]="dividendIncomeEmerald" [hasEmerald]="hasDividendIncomeEmerald()">
  <table class="table table-striped" *ngIf="dividendIncome$ | async as dividendIncome">
    <thead>
      <tr>
        <th>Investment</th>
        <th>Dividend Payout</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let dividend of dividendIncome">
        <td>{{ dividend.investmentId }}</td>
        <td>{{ dividend.dividendPayout }}</td>
      </tr>
      <tr *ngIf="dividendIncomeTotal$ | async as dividendIncomeTotal">
        <td>Total Dividends</td>
        <td>{{ dividendIncomeTotal }}</td>
      </tr>
    </tbody>
  </table>
</emerald-component>