<emerald-component [emerald]="businessIncomeEmerald" [hasEmerald]="hasBusinessIncomeEmerald()">
  <table class="table table-striped" *ngIf="businessIncome$ | async as businessIncome">
    <thead>
      <tr>
        <th>Business</th>
        <th>Revenue</th>
        <th>Net Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let business of businessIncome">
        <td>{{ business.businessName }}</td>
        <td>{{ business.revenue | currency:'USD':true:'1.0-0' }}</td>
        <td>{{ business.profit | currency:'USD':true:'1.0-0' }}</td>
      </tr>
      <tr *ngIf="businessIncomeProfitTotal$ | async as total">
        <td>Total</td>
        <td></td>
        <td>{{ total | currency:'USD':true:'1.0-0' }}</td>
      </tr>
    </tbody>
  </table>
</emerald-component>