<emerald-component [emerald]="businessIncomeEmerald" [hasEmerald]="false">
  <table class="table table-striped" *ngIf="businessIncome$ | async as businessIncome">
    <thead>
      <tr>
        <th>Business</th>
        <th>Revenue</th>
        <th>Net Profit</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let business of businessIncome">
        <td>{{ business.businessName }}</td>
        <td>{{ business.revenue }}</td>
        <td>{{ business.profit }}</td>
      </tr>
    </tbody>
  </table>
</emerald-component>