<form #login="ngForm" (ngSubmit)="attemptLogin(login)">
  <div class="form-row">
    <div class="col">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" name="username" ngModel #username="ngModel" />
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" name="password" ngModel #password="ngModel" />
      </div>
    </div>
  </div>
  <div class="form-group form-check">
    <input type="checkbox" class="form-check-input" id="demo" name="demo" [disabled]="demoDisabled">
    <label for="demo">Demo User Example</label>
  </div>
  <button class="btn btn-primary">Let's Go</button>
</form>