<emerald-component [emerald]="interestIncomeEmerald" [hasEmerald]="hasInterestIncomeEmerald()">
  <table>
    <tr>
      <th>Account Name</th>
      <th>Interest (%)</th>
      <th>Interest ($)</th>
    </tr>
    <tr *ngFor="let account of accounts">
      <td>{{account.name}}</td>
      <td>{{account.interestPercentage}}</td>
      <td>{{account.interestDollar}}</td>
    </tr>
    <tr>
      <td>Total Interest per month:</td>
      <td></td>
      <td>{{ calculateInterestSummary() }}</td>
    </tr>
  </table>
</emerald-component>
  