<h1>Edit Interest Income</h1>

<form action="">
  <div class="form-group">
    <label for="goalInterest">Goal Interest Per Month</label>
    <input type="text" class="form-control" id="goalInterest" placeholder="Goal Income">
  </div>

  <div class="row">
    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="form-group">
        <label for="interestAccount">Account</label>
        <input type="text" class="form-control" id="interestAccount" placeholder="Account">
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="form-group">
        <label for="interestPercent">Percentage</label>
        <input type="text" class="form-control" id="interestPercent" placeholder="Percentage">
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-4">
      <div class="form-group">
        <label for="interestAmount">Amount</label>
        <input type="text" class="form-control" id="interestAmount" placeholder="Amount">
      </div>
    </div>
  </div>
</form>