<emerald-component [emerald]="earnedIncomeEmerald" [hasEmerald]="hasEarnedIncomeEmerald()">
  <table class="table table-hover" *ngIf="earnedIncome$ | async as earnedIncome">
    <thead>
      <tr>
        <th>Job Title</th>
        <th>Amount</th>
        <th>Frequency</th>
        <th>Annual Amount</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let job of earnedIncome">
        <td>{{ job.incomeTitle }}</td>
        <td>{{ job.incomeAmount | currency }}</td>
        <td>{{ job.frequency }}</td>
        <td>{{ job.incomeAmount | currency }}</td>
        <td>
          <button class="btn btn-outline-secondary btn-sm">Edit</button>
        </td>
      </tr>
      <tr *ngIf="earnedIncomeTotal$ | async as earnedIncomeTotal">
        <td>Current Income</td>
        <td></td>
        <td></td>
        <td>{{ earnedIncomeTotal | currency }}</td>
        <td></td>
      </tr>
    </tbody>
  </table>

  <br />
  <form #earnedIncome="ngForm" (ngSubmit)="addEarnedIncome(earnedIncome)">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Add Job" aria-label="job" name="job" ngModel #job="ngModel" />
      <input type="text" class="form-control" placeholder="Add Income" aria-label="income" name="income" ngModel #income="ngModel" />
      <select id="incomeFrequency" name="incomeFrequency" class="form-control" ngModel #frequency="ngModel">
        <option value="annually" selected>Annually</option>
        <option value="semiAnnually">Semi-Annually</option>
        <option value="quarterly">Quarterly</option>
        <option value="monthly">Monthly</option>
        <option value="weekly">Weekly</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-success">Add Earned Income</button>
      </div>
    </div>
  </form>
  <br />

</emerald-component>

