<emerald-component [emerald]="earnedIncomeEmerald" [hasEmerald]="hasEarnedIncomeEmerald()">
  <table class="table table-striped" *ngIf="earnedIncome$ | async as earnedIncome">
    <tr>
      <th>Job Title</th>
      <th>Annual Amount</th>
    </tr>
    <tr *ngFor="let job of earnedIncome">
      <td>{{job.incomeTitle}}</td>
      <td>{{job.incomeAmount | currency }}</td>
    </tr>
    <tr *ngIf="earnedIncomeTotal$ | async as earnedIncomeTotal">
      <td>Current Income</td>
      <td>{{ earnedIncomeTotal | currency }}</td>
    </tr>
  </table>
</emerald-component>

