<h1>Edit Earned Income</h1>

<form action="">
  <div class="form-group">
    <label for="goalIncome">Goal Income</label>
    <input type="text" class="form-control" id="goalIncome" placeholder="Goal Income">
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6">
      <div class="form-group">
        <label for="incomeTitle">Income Title</label>
        <input type="text" class="form-control" id="incomeTitle" placeholder="Income Title">
      </div>
    </div>

    <div class="col-md-6 col-xs-6 col-sm-6">
      <div class="form-group">
        <label for="incomeAmount">Income Amount</label>
        <input type="text" class="form-control" id="incomeAmount" placeholder="Income Amount">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-xs-6 col-sm-6">
      <div class="form-group">
        <label for="resourceName">Resource Name</label>
        <input type="text" class="form-control" id="resourceName" placeholder="Resource Name">
      </div>
    </div>

    <div class="col-md-6 col-xs-6 col-sm-6">
      <div class="form-group">
        <label for="resourceUrl">Resource URL</label>
        <input type="text" class="form-control" id="resourceUrl" placeholder="Resource URL">
      </div>
    </div>
  </div>
</form>