<emerald-component [emerald]="rentalIncomeEmerald" [hasEmerald]="hasRentalIncomeEmerald()">
  <table class="table table-striped" *ngIf="rentalIncome$ | async as rentalIncome">
    <thead>
      <tr>
        <th>Property</th>
        <th>Mortgage</th>
        <th>Monthly Rent</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let property of rentalIncome">
        <td>{{ property.property }}</td>
        <td>{{ property.mortgage | currency }}</td>
        <td>{{ property.rent | currency }}</td>
      </tr>
      <tr>
        <td>Total</td>
        <td>{{ actualMortgage | currency }}</td>
        <td>{{ actualRent | currency }}</td> <!-- change this to reflect async pipe -->
      </tr>
    </tbody>
  </table>
</emerald-component>