<div>
  <div class="assets">
    <table class="table table-striped">
      <tr>
        <th>Assets:</th>
        <th>{{ calculateTotal(assets) }}</th>
      </tr>
      <tr *ngFor="let asset of assets">
        <td>{{ asset.name }}</td>
        <td>{{ asset.amount }}</td>
      </tr>
    </table>
  </div>
  <div class="liabilities">
    <table class="table table-striped">
      <tr>
        <th>Liabilities:</th>
        <th>{{ calculateTotal(liabilities) }}</th>
      </tr>
      <tr *ngFor="let liability of liabilities">
        <td>{{ liability.name }}</td>
        <td>{{ liability.amount }}</td>
      </tr>
    </table>
  </div>
  <div class="total-net-worth">
    <span>Net Worth: </span>
    <span>{{ calculateNetWorth() | currency }}</span>
  </div>
</div>

<footer>
  <p>Net Worth dated as of 1/1/2021</p>
</footer>