<emerald-component [emerald]="capitalGainsEmerald" [hasEmerald]="false">
  <table class="table table-striped" *ngIf="capitalGains$ | async as capitalGains">
    <tr>
      <th>Investment</th>
      <th>Initial Value</th>
      <th>Current Value</th>
    </tr>
    <tr *ngFor="let investment of capitalGains">
      <td>{{ investment.investment }}</td>
      <td>{{ investment.initialSellValue | currency }}</td>
      <td>{{ investment.currentValue | currency }}</td>
    </tr>
    <tr>
      <td>Total</td>
      <td></td>
      <td>{{ totalInvestmentValue | currency }}</td>
    </tr>
  </table>
</emerald-component>